/**
 * OpauthConnect
 * 
 * @copyright Copyright © 2012 Oleksandr Golubtsov
 * @license   GPLv2 License
 * @package   OpauthСonnect
 * 
 * This file is part of OpauthСonnect plugin. Please see the included license file for usage information
 */

.opauth-settings .row {
    position: relative;
    float: none;
    width: 100%;
    margin-bottom: 20px;
}

.opauth-settings .category {
    margin-top: 30px;
}

.opauth-settings .first-category {
    margin-top: 20px;
}

.opauth-settings .category-toggle {
    border-top: 1px solid #d5d5d5;
    padding-top: 2px;
    padding-left: 3px;
    color: #706B6B;
    cursor: pointer;
}

.opauth-settings .category-toggle:hover {
    color: #1260ee;
}

.opauth-settings .category-settings {
    display: none;
}

.opauth-settings .row>div {
    position: relative;
    float: left;
}

.opauth-settings .row .status {
    width: 100px;
    margin-right: 10px;
}

.settings-accounts .account-logo {
    position: relative;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
}

.settings-accounts .account-link {
    display: block;
    margin-bottom: 2px;
}

.settings-accounts .account-confirmed {
    color: green;
}

.settings-accounts .account-not-confirmed span {
    color: red;
}

.settings-accounts .account-unlink {
    margin-top: 2px;
}

.settings-accounts .account-unlink a {
    color: #910808;
}